body{
    margin: 0;
    background-color: #1B0E2E;
    color: white;
}

.birthday-screen{
    display: none;
}

.calendar-screen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 300px;
    height: 600px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-23 {
    display: none;
}

.calendar-22,
.calendar-23 {
    width: 150px;
    height: 150px;
    background-color: white;
    color: #FF4F6D;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
}

.swipe-text {
    color: white;
    margin-top: 30px;
    font-size: 18px;
    opacity: 0.7;
}
